---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: kubeserials.app.kubeserial.com
spec:
  group: app.kubeserial.com
  names:
    kind: KubeSerial
    listKind: KubeSerialList
    plural: kubeserials
    singular: kubeserial
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: KubeSerial is the Schema for the kubeserials API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KubeSerialSpec defines the desired state of KubeSerial
            properties:
              devices:
                items:
                  description: SerialDevice defines monitored device
                  properties:
                    idProduct:
                      type: string
                    idVendor:
                      type: string
                    manager:
                      type: string
                    name:
                      type: string
                    subsystem:
                      type: string
                  required:
                  - idProduct
                  - idVendor
                  - manager
                  - name
                  - subsystem
                  type: object
                type: array
              ingress:
                description: IngressSpec defines the desired Ingress configuration
                properties:
                  annotations:
                    additionalProperties:
                      type: string
                    type: object
                  domain:
                    type: string
                  enabled:
                    type: boolean
                required:
                - enabled
                type: object
            required:
            - devices
            - ingress
            type: object
          status:
            description: KubeSerialStatus defines the observed state of KubeSerial
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
